@use "./../../styles/variables.scss" as *;

.button{
    border: 1px solid $color-3;
    padding: 10px 30px;
    color: $color-3;
    text-align: center;
    width: fit-content;
    // background-color: #00000063;
    font-size: 1.1rem;

    transition: all 0.2s;
    cursor: pointer;

    position: relative;
    overflow: hidden;

    .text{
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        z-index: 1;
    }

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-1;
        bottom: -100%;
        transition: all 0.2s;
        z-index: -1;
    }

    &:hover{
        
        // color: $color-1;
        &::after{
            bottom: 0;
        }
    }
}