@use "./../../styles/variables.scss" as *;

.landing{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

    h1{
        color: #fff;
        text-align: center;
        font-size: 4rem;
        padding-bottom: 50px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        display: flex;
        flex-direction: column;
        align-items: center;

        span{
            width: fit-content;
            // background-color: $color-3;
            // margin: 10px;
            // padding: 6px;
            // color: $color-4;

            &.a{
                font-size: 3rem;
            }
        }
    }

    .image{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        background-image: url("./../../assets/hero4.JPG");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;

        z-index: -5;
    }

    .black{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        background-color: #000;
        opacity: 0.6;
        z-index: -4;
    }

    
}

.home{
    .container{
        width: $container-width;
        margin: 0 auto;
    }

    .numbers{
        margin: 50px 0;
    }
}

.news{
    width: 100%;
    background-color: $color-3;
    padding: 70px 0;

    h2{
        font-size: 2.5rem;
        color: $color-4;
    }

    .content{
        margin-top: 40px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        $width: 380px;
        $height: 250px;

        .test{
            width: $width;
            margin-bottom: 40px;

            .image img{
                width: $width;
                height: $height;
                border-radius: 5px;
                object-fit: cover;
                box-shadow: 0px 2px 8px #00000042;
            }

            .text{
                width: 100%;
                margin-top: 10px;

                font-size: 1.2rem;
                color: $color-4;
                letter-spacing: 0.5px;

            }
        }
    }
}

.contact{
    width: 100%;

    h2{
        font-size: 2.5rem;
        color: $color-4;
    }

    .content{
        width: 100%;
        display: flex;
        padding-top: 50px;
        
        .col{
            width: 50%;
        }
    }
}